{
  "openapi": "3.1.0",
  "info": {
    "title": "Jootsing Server",
    "description": "REST API for controlling iPhones via Switch Control",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.tapkit.ai",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Health check endpoint",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "summary": "Get system status",
        "description": "Get overall status of the system for this org",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones": {
      "get": {
        "summary": "List phones",
        "description": "List all phones for the organization",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/info": {
      "get": {
        "summary": "Get phone info",
        "description": "Get phone information including dimensions",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/screenshot": {
      "get": {
        "summary": "Get screenshot",
        "description": "Get a screenshot from the phone. In sync mode, returns PNG directly. In async mode, returns job_id.",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot image (sync mode) or job response (async mode)"
          }
        }
      }
    },
    "/phones/{phone_id}/tap": {
      "post": {
        "summary": "Tap",
        "description": "Tap at coordinates",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "x": {
                    "type": "integer"
                  },
                  "y": {
                    "type": "integer"
                  }
                },
                "required": ["x", "y"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/double-tap": {
      "post": {
        "summary": "Double tap",
        "description": "Double tap at coordinates",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "x": {
                    "type": "integer"
                  },
                  "y": {
                    "type": "integer"
                  }
                },
                "required": ["x", "y"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/tap-and-hold": {
      "post": {
        "summary": "Tap and hold",
        "description": "Tap and hold at coordinates",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "x": {
                    "type": "integer"
                  },
                  "y": {
                    "type": "integer"
                  },
                  "duration_ms": {
                    "type": "integer",
                    "default": 1000
                  }
                },
                "required": ["x", "y"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/flick": {
      "post": {
        "summary": "Flick",
        "description": "Flick gesture",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "x": {
                    "type": "integer"
                  },
                  "y": {
                    "type": "integer"
                  },
                  "direction": {
                    "type": "string",
                    "enum": ["up", "down", "left", "right"]
                  }
                },
                "required": ["x", "y", "direction"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/pan": {
      "post": {
        "summary": "Pan",
        "description": "Pan gesture",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "x": {
                    "type": "integer"
                  },
                  "y": {
                    "type": "integer"
                  },
                  "direction": {
                    "type": "string",
                    "enum": ["up", "down", "left", "right"]
                  },
                  "duration_ms": {
                    "type": "integer",
                    "default": 500
                  }
                },
                "required": ["x", "y", "direction"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/drag": {
      "post": {
        "summary": "Drag",
        "description": "Drag gesture",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_x": {
                    "type": "integer"
                  },
                  "from_y": {
                    "type": "integer"
                  },
                  "to_x": {
                    "type": "integer"
                  },
                  "to_y": {
                    "type": "integer"
                  }
                },
                "required": ["from_x", "from_y", "to_x", "to_y"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/pinch": {
      "post": {
        "summary": "Pinch",
        "description": "Pinch gesture",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "x": {
                    "type": "integer"
                  },
                  "y": {
                    "type": "integer"
                  },
                  "action": {
                    "type": "string",
                    "enum": ["pinch_in", "pinch_out", "rotate_cw", "rotate_ccw"]
                  }
                },
                "required": ["x", "y", "action"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/home": {
      "post": {
        "summary": "Home button",
        "description": "Press home button",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/app-switcher": {
      "post": {
        "summary": "App switcher",
        "description": "Open app switcher",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/control-center": {
      "post": {
        "summary": "Control center",
        "description": "Open control center",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/lock": {
      "post": {
        "summary": "Lock device",
        "description": "Lock the device",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/unlock": {
      "post": {
        "summary": "Unlock device",
        "description": "Unlock the device",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "passcode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/rotate": {
      "post": {
        "summary": "Rotate device",
        "description": "Rotate device orientation",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orientation": {
                    "type": "string",
                    "enum": ["portrait", "left", "right", "upside_down"]
                  }
                },
                "required": ["orientation"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/volume-up": {
      "post": {
        "summary": "Volume up",
        "description": "Increase volume",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/volume-down": {
      "post": {
        "summary": "Volume down",
        "description": "Decrease volume",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/spotlight": {
      "post": {
        "summary": "Spotlight",
        "description": "Open spotlight search",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/siri": {
      "post": {
        "summary": "Siri",
        "description": "Activate Siri",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/open-app": {
      "post": {
        "summary": "Open app",
        "description": "Open an app by name",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "app_name": {
                    "type": "string"
                  }
                },
                "required": ["app_name"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/type": {
      "post": {
        "summary": "Type text",
        "description": "Type text on the device",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["keys", "paste"],
                    "default": "keys"
                  }
                },
                "required": ["text"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/shortcut": {
      "post": {
        "summary": "Run shortcut",
        "description": "Run a shortcut by index or name",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "index": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/stream/start": {
      "post": {
        "summary": "Start stream",
        "description": "Start streaming a phone to Agora",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/stream/stop": {
      "post": {
        "summary": "Stop stream",
        "description": "Stop streaming a phone",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phones/{phone_id}/stream/status": {
      "get": {
        "summary": "Stream status",
        "description": "Check stream status for a phone",
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/jobs/{job_id}": {
      "get": {
        "summary": "Get job",
        "description": "Get job status and result",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/macs/{mac_id}/enable-switch-control": {
      "post": {
        "summary": "Enable Switch Control",
        "description": "Enable Switch Control on the Mac",
        "parameters": [
          {
            "name": "mac_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/macs/{mac_id}/disable-switch-control": {
      "post": {
        "summary": "Disable Switch Control",
        "description": "Disable Switch Control on the Mac",
        "parameters": [
          {
            "name": "mac_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  }
}
